<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h1 class='intro'> Colourful Results... </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="intro"></br><p> Top results for <u><b> <%= params[:colour] %></b></u> and <u><b><%= params[:noun] %></b></u> </p>
        </div>
      </div>

      <div class="col-md-3">
        <form action="/" id="home">
            <input type="hidden" value="home" />
        </form>
        <button type="submit" class="btn <%= params[:colour] %>" form="home"> New Search </button>
      </div>

    </div>
    </br>
    <div class="row">
      <div class="col-md-9">
            <a href="<%=@data[0]%>" >
                <%= image_tag("#{@data[0]}", :class => "img-responsive") %>
            </a>
            <%= image_tag("#{@data[1]}", :class => "img-responsive") %>
            <%= image_tag("#{@data[2]}", :class => "img-responsive") %>
            <%= image_tag("#{@data[3]}", :class => "img-responsive") %>
            <%= image_tag("#{@data[4]}", :class => "img-responsive") %>
      </div>

      <div class="col-md-3">
        <p class='previous'> Previous </br> Searches </p>
        <% @search_history.each do |s| %>
          Searched at <%= s.time %> on <%= s.date %>
          <form action="/results" method="get" id="research">
            <input type="hidden" name="colour" value="<%=s.colour%>" />
            <input type="hidden" name="noun" value="<%=s.noun%>" />
            <button class="research btn <%= s.colour %>" type="submit" />  <%= s.colour %> <%= s.noun %> </button>
          </form>
        </br>
        <% end %>
      </div>
    </div>
  </div>
</div>
