<h1> Colourful Results! </h1>

Showing top 5 results for <%= @random_noun %> with a <%= @colour %> filter

<a href="<%=@data[0]%>">
<%= image_tag("#{@data[0]}") %>
</a>

<%= image_tag("#{@data[1]}") %>

<%= image_tag("#{@data[2]}") %>

<%= image_tag("#{@data[3]}") %>

<%= image_tag("#{@data[4]}") %>
